body{
	background-color: #777777;
}

h1{
	text-align: center;
}
#gamearea{
	margin: 0 auto;
	width: 768px;
	height: 384px;
	background-color: #7EC850;
	border: 3px black solid;
}
#playerChar{
	position: absolute;
	clip-path: polygon(0 0, 24px 0, 24px 100%, 0 100%);
}

